@import url('https://fonts.googleapis.com/css2?family=Aptos:wght@700&display=swap');

* {
    font-family: 'Aptos', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ff612df5;
    color: white;
}

.wrapper {
    --input-focus: #ff612df5;
    --font-color: #323232;
    --font-color-sub: #777;
    --bg-color: #ffffff;
    --bg-color-alt: #ffbba4f5;
    --main-color: #ff612df5;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-alt);
    height: calc(100vh - 80px); /* Adjusting height, excluding header */
    padding-top: 20px; /* Add space between header and card */
}

.card-switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card__front {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f9f9f9;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid var(--main-color);
    box-shadow: 4px 4px 20px var(--main-color);
    width: 320px;
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
}

.flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 2px 2px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.flip-card__input:focus {
    border: 2px solid var(--input-focus);
}

.flip-card__btn:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flip-card__btn {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.link-container {
    text-align: center;
    font-size: 14px;
}

.link-container a {
    color: var(--main-color);
    text-decoration: none;
}

.link-container a:hover {
    text-decoration: underline;
}
